<ion-content>
  <div class="login-page">
    <h4 id="txt1">تسجيل الدخول <hr class="line"></h4>
    <form class="form">
      <img src="assets/img/user.png" width="25px" height="25px">
      <input type="text" placeholder="ادخل اسم المستخدم">
      <p>اسم المستخدم</p>
      <img src="assets/img/lock.png" width="25px" height="25px">
      <input type="text" placeholder="ادخل كلمة السر">
      <p>كلمة السر</p>
      <input type="submit" value="تسجيل الدخول" id="btn1">
      <input (click)="OuvertSignup()" type="submit" value="حساب جديد" id="btn2">
    </form>
</div>
<div class="login2">
  <p>أو التسجيل عن طريق</p>
  <button id="facebook" ><img src="assets/img/facebook.png" width="20px" height="20px"></button>
  <button id="google" ><img src="assets/img/google.png" width="20px" height="20px"></button>
</div>
</ion-content>
