
<div class="login-page">
  <h4 id="txt1">انشاء حساب<hr class="line"></h4>
    <form class="form">
      <img src="assets/img/user.png" width="25px" height="25px">
      <input type="text" placeholder="ادخل اسم المستخدم">
      <p>اسم المستخدم</p>
      <img src="assets/img/email.png" width="25px" height="25px">
      <input type="text" placeholder="ادخل البريد الالكتروني">
      <p>البريد الالكتروني</p>
      <img src="assets/img/call.png" width="25px" height="25px">
      <input type="text" placeholder="ادخل رقم الهاتف">
      <p>رقم الهاتف</p>
      <img src="assets/img/lock.png" width="25px" height="25px">
      <input type="password" placeholder="ادخل كلمة السر">
      <p>كلمة السر</p>
      <img src="assets/img/lock.png" width="25px" height="25px">
      <input type="password" placeholder="ادخل كلمة السر">
      <p>تأكيد كلمة السر</p>
      <label class="checkbox">
        <span class="checkbox__input">
          <input type="checkbox" name="checkbox">
          <span class="checkbox__control">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
              <path fill='none' stroke='currentColor' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /></svg>
          </span>
        </span>
        <span class="radio__label">أوافق على جميع الشروط</span>
      </label>
      
      <input type="submit" value="التسجيل الآن " id="btn1">

    </form>
</div>
<div id="back">هل لديك حساب ؟ <a (click)="OuvertLogin()">تسجيل الدخول</a> </div>